body {
  background-color: transparent !important;
  min-height: 900px;
  position: relative;
  background-size: cover;
  font-family: "Open Sans", sans-serif; 
  overflow-x: hidden;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.page {
  background: white;
  max-width: auto;
  margin: 0 auto; 
  }
.container {
  padding-top: 4rem;
}      
.page .container {
  padding-top: 0.8rem;
}   
@media (max-width: 767px) {
  .container {
     padding-top: 2.5rem;
   } 
   .page .container {
     padding-top: 0rem;
   } 
}      
.page-content {
  padding-top: 40px; 
  padding-bottom: 35px; 
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #e7e1fe;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
  z-index: 997;
  padding: 15px 0;
}

#header .container-fluid {
  justify-content: space-between;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #222222;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
    padding-left:10px;
  }
  #header .container-fluid {
    justify-content: flex-start;
  }
}

/*--------------------*/
/* Back to top button */
/*--------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 120px;
  right: 70px;
  display: none;
  z-index: 99; 
}

@media (max-width: 767px) {
 #btn-back-to-top {
  position: fixed;
  bottom: 65px;
  right: 12px;
  display: none;
  z-index: 99; 
  } 
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  padding: 10px 0px 20px 28px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-decoration: none;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #a090f0;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #a090f0;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
  padding: 0;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #a090f0;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #eeebf7;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  font-size: 15px;
  padding-right: 15px;
  color: #222222;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #a090f0;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #bfb4f9;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/******************/
/* Body Section   */
/******************/

.pp-category-btn a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; 
  }

.btn-primary {
  color: black;
  background-color: #d7cefa;
  border-color: black;
}

.btn-primary:focus {
  color: black;
  background-color: #d7cefa;
  border-color: black;
}

.btn-primary:hover {
  color: black;
  background-color: #bfb4f9;
  border-color: black;
}

.btn-outline-primary {
  color: black;
  background-color: #e9e4fa;
  border-color: black;
}

.btn-outline-primary:hover {
  color: black;
  background-color: #bfb4f9;
  border-color: black;
}

.btn-outline-primary:focus {
  color: black;
  background-color: #e9e4fa;
  border-color: black;
}

/******************/
/* Footer section */
/******************/

.pp-footer {
  background: #e7e1fe;
  height: 80px; 
  }
  .pp-footer a.credit {
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none; }
  .pp-footer p {
    margin-bottom: 1.5rem;
  }
  .pp-footer .fa {
    width: 18px; }
  .pp-footer .fa-2x {
    font-size: 22px; }
  .pp-footer i {
    color: #888; }
  .pp-footer .pp-instagram:hover i {
    color: #405de6; }
    
@media (max-width: 767px) {
 .pp-footer {
   height: 60px;
  } 
 .pp-footer p {
    margin-bottom: 0.3rem;
  }
}

/****************/
/* Common Style */
/****************/

@media (min-width: 767px) {
 .pp-top {
   padding-top: 7rem;
  } }
  
@media (max-width: 767px) {
 .pp-top {
   padding-top: 4rem;
  } }

.pp-section {
  padding-top: 7rem;
 }

@media (min-width: 767px) {
 .pp-sketches {
   padding-top: 5em;
  } }
  
@media (max-width: 767px) {
 .pp-sketches {
   padding-top: 4rem;
  } }


/****************/
/* Images Style */
/****************/

.portfolio-img-box img {
    border-radius: 3px;
}

.portfolio-img:hover .portfolio-img-overlay span {
    background: no-repeat center center rgba(0, 0, 0, 0.3);
}

.portfolio-img:hover .portfolio-img-overlay span {
    opacity: 2;
}

.portfolio-img-overlay span {
    height: 100%;
    opacity: 0;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 1;
}

